@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Heebo:wght@900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-size: 17px;
}

.color1 {
  color: #ec5242;
}

.color2 {
  color: #272a31;
}

.color3 {
  color: #d3d3d3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

button {
  transition: all 0.3s ease 0s;
}

.section-title-white {
  color: #d3d3d3;
  text-align: center;
  padding: 45px 0;
}

.section-title-white h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.section-title-white p {
  color: #ec5242;
  font-size: 12px;
  margin: 0;
}

.section-title-black {
  text-align: center;
  padding: 45px 0;
}

.section-title-black h2 {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.section-title-black p {
  color: #ec5242;
  font-size: 12px;
  margin: 0;
}

.mobile-nav {
  background-color: white;
  box-shadow: 0 1px 2px #d3d3d3;
}

.mobile-nav a {
  font-weight: bold;
}

.mobile-links a:hover {
  background-color: #ec5242;
  color: #d3d3d3;
}

.mobile-link {
  font-size: 17px;
  font-weight: bold;
}

.mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #272a31;
  padding: 0;
  margin: 10px 36px 5px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 30px;
  min-height: 800px;
  background-image: url(./Images/background2.jpg);
  background-size: cover;
}

.welcome h1 {
  background-image: linear-gradient(#ec5342ad, #ec534288), url(./Images/3ec98d50ad28f94cef09f8584d0b3957.jpg);
  background-size: 400px;
  background-position: left;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Heebo', sans-serif;
  font-size: 60px;
  margin: 0;
}

.welcome-text {
  font-size: 19px;
  background-color: white;
  box-shadow: 0 0 10px #d3d3d3;
  margin: 40px 0;
  padding: 20px;
}

.welcome-text2 h3 {
  font-size: 34px;
  font-family: 'Heebo', sans-serif;
}

.welcome-text2 {
  font-weight: bold;
  font-size: 21px;
}

.main-program {
  text-align: center;
  background-image: url(./Images/hero_bg.png);
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

.programs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  min-height: 135px;
  background-color: #d3d3d32d;
  padding: 16px;
  margin: 12px 0 0 0;
  transition: 0.4s;
  cursor: pointer;
}

.programs:hover {
  transform: scale(1.05);
  background-color: white;
  box-shadow: 0 0 10px 5px #d3d3d3;
  color: #272a31;
}

.program-icon {
  display: flex;
  font-size: 45px;
  height: 45px;
}

.program-title {
  text-align: center;
  font-size: 24px;
  color: #ec5242;
  width: 55%;
  padding: 10px 0;
}

.program-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.main-program button {
  color: #d3d3d3;
  border-radius: 6px;
  background-color: #ec5242;
  border: none;
  font-size: 23px;
  padding: 36px 74px;
  margin: 45px 0;
}

.speakers {
  display: flex;
  align-items: center;
  padding: 30px;
}

.speakers img {
  margin-right: 26px;
  width: 160px;
  height: 160px;
  border-radius: 4px;
}

.speakers h2 {
  font-size: 22px;
  font-weight: bold;
}

.speakers h3 {
  font-size: 16px;
  font-style: italic;
  color: #ec5242;
  margin: 0;
}

.speaker-line {
  font-size: 12px;
  color: #d3d3d3;
  margin-bottom: 6px;
}

.speakers p {
  font-size: 14px;
  margin: 0;
}

.featured-speakers {
  background-image: url(./Images/a1a5fdab63dd386d5e321d0b5b8cdcea.jpg);
  background-size: cover;
}

.featured-speakers button {
  border: 1px solid #d3d3d3;
  padding: 16px 240px;
  margin-bottom: 30px;
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #272a31;
  height: 250px;
  margin-top: 80px;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner-logos img {
  margin: 10px;
}

.legal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  font-size: 16px;
}

.legal img {
  width: 200px;
}

.partner-logos img:hover {
  transition: 1s;
  transform: rotateY(360deg);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .desktop-nav1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #272a31;
    min-height: 36px;
    font-size: 16px;
  }

  .desktop-icons1 {
    display: flex;
    justify-content: space-around;
    width: 80px;
  }

  .desktop-nav1 ul {
    display: flex;
    justify-content: space-around;
    margin: 0 12vw 0 0;
    padding: 0;
  }

  .desktop-nav1 a {
    color: white;
    padding: 0 1vw 0 0;
  }

  .desktop-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 1px 2px #d3d3d3;
    height: 66px;
  }

  .desktop-logo2 {
    margin: 0 0 0 10vw;
  }

  .desktop-nav2 img {
    width: 160px;
  }

  .desktop-nav2 ul {
    display: flex;
    align-items: center;
    margin: 0 12vw 0 0;
    padding: 0;
  }

  .desktop-nav2 a {
    color: #272a31;
    padding: 0 2.5vw 0 0;
  }

  .desktop-nav2 button {
    color: #ec5242;
    padding: 6px 8px;
    border: 4px solid #ec5242;
    border-radius: 8px;
  }

  .welcome {
    display: flex;
    padding-left: 10%;
    background-size: cover;
    background-position: right;
  }

  .welcome h2 {
    font-size: 50px;
  }

  .welcome h1 {
    font-size: 80px;
  }

  .welcome-text {
    width: 56%;
  }

  .welcome-text2 {
    font-size: 27px;
  }

  .welcome-text2 h3 {
    font-size: 40px;
  }

  .program-container {
    display: flex;
    justify-content: center;
  }

  .program-title {
    width: 100%;
  }

  .programs {
    flex-direction: column;
    width: 12vw;
    text-align: center;
    margin: 3px;
  }

  .main-program button {
    margin: 75px 0;
  }

  .speakers-pair {
    display: flex;
  }

  .speakers-pair .speakers {
    flex: 1;
  }

  .partner-logos img {
    margin: 25px;
    transition: 0.4s;
  }

  .legal {
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    height: 200px;
    font-size: 15px;
  }

  .legal-text {
    margin-left: 30px;
    width: 60%;
  }

  .legal-text a {
    color: #272a31;
  }

  .desktop-nav1 a:hover {
    color: #ec5242;
    text-decoration: none;
  }

  .desktop-nav2 a:hover {
    color: #ec5242;
    text-decoration: none;
  }

  .desktop-nav2 button:hover {
    background-color: #272a31;
  }
}
